body {
  font-family: 'Roboto', Arial, sans-serif;
  padding-top: 70px;
  
}

h3{
  color: #403F3F;
  font-size: 30px;
  font-weight: bold;
}

p {
  color: #656565;
  font-size: 22px;
}

.row{
  padding-top: 30px;
}

.site-header {
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: white;
}

.home-link,.contact-link {
  font-weight: bold;
  display: inline;
  color: #403F3F;
  
}
.right-aligned{
  float: right;
}

.navbar-brand {
  color: #403F3F;

}
.navbar-right {
  color: #403F3F;
}

.line-separator{
height: 1px;
border-bottom: 1px solid #D3D3D3;
}

.line-shadow {
  box-shadow: 0 6px 3px -6px #b4b4b4;
  opacity: 0.5;
}
.introduction {
  margin-top: 40px;
}


.intro-first-line {
  font-weight: bold;
  font-size: 20px;
}

.intro-paragraph {
  font-size: 20px;
  padding-bottom: 5px;
}

.icons{
  color: #403F3F;
}

.portfolio-summary{
  
}

.portfolio-text{
  
}
.see-case-study-button{
  background: #01a7a7;
  min-width: 280px;
  max-width: 280px;
  display: inline;
}

.see-case-study-button:hover{
  background: #008080;
}

.btn-lg{
  border-radius: 24px;
  border:0px solid transparent;
}

